*/__pycache__/
.vscode/
temp
temp/
wandb
sweep_*
__pycache__
logscheckpoints/
models/
logs/
*.pt
*.pkl
*.bin
*.picklenohup.out
nohup.out

# ignore large outputs and weights
nohup.out
models/*.pt
models/*.pth
data/*.tar.gz
fast-DiT/
